extends layout

block content
  div.post
    h1= title
    div.created_at= article.created_at
    div.body
      p= article.body
    hr
    div#comments
      h2 Comments
      if article.comments.length > 0
        div#comment-list
          if article.comments.length == 1
            div.comment.single-comment
              span.person
                b= article.comments[0].person
              span  says: 
              span= article.comments[0].comment
          else
            - each comment in article.comments
              div.comment
                span.person
                  b= comment.person
                span  says: 
                span= comment.comment
      else
        i This post has no comments yet.
    hr
    div#new-comment
      h2 Add A Comment
      form(method="post", action="/blog/addComment")
        input(type="hidden", name="_id", value=article._id.toHexString())
        div#comment-author
          span Author:
          input(type="text", name="person", id="addCommentPerson")
        div#comment-content
          textarea(name="comment", rows=5, id="addCommentComment" placeholder="Type your comment here")
        div#comment-submit
          input(type="submit", value="Submit Comment")
